.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 10px;
    display: flex;
  justify-content:space-between; 
  align-items: center; 

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding: 5px;
  display: flex;
  gap: 10
  ;

}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  margin: 3px;
  text-decoration: none;
}