body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 6px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px; 
  margin-bottom: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;

}